$mnm-lightblue: #CFEAF4;
$mnm-blue: #1a98cc;
$mnm-darkblue: #12367E;
$mnm-red: #d31822;
$primary: $mnm-darkblue;
//$primary-invert: $pink-invert;

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";

@import "~bulma/bulma";

@import "_gauge";

body {
  //padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  // font-size: 12px;
  background: #FFF url('http://playground.mnm.be/steunstudenten/img/background.png') top center repeat;
}

.scrollable-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  &--list {
    height: 0px;
    flex: 1 1 auto;
    overflow-y: scroll;
    @include mobile {
      height:30vh;
    }
  }
}

.metric-panel {
  background-color: #FFFFFF;
  border: 2px solid $mnm-lightblue;
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .metric-panel__content {
    padding: 0.75em;
  }
}

.fancy-list {
  border-top: 1px solid #dbdbdb;
  text-align: left;
  li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #dbdbdb;
  }
}

.hero,
.section,
.footer {
  background: none;
}

h1, h2 {
  font-weight: bold;
}

.title {
  color: $mnm-darkblue;
}

.djStat {
  margin-bottom: 15px;
}

.djStat:last-child {
  margin-bottom: 0px;
}

.djStat h2, .djStat h3 {
  margin: 0;
}

.djStat h2 {
  padding-top: 8px;
  padding-bottom: 4px;
}

#logo {
  margin-bottom: 20px;
  width: 100%;
  max-width: 150px;
}

.profileImg {
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.profileImg.tom {
  //background-image: url('../img/tom.jpg');
}

.profileImg.julie {
  //background-image: url('../img/julie.jpg');
}

.profileImg.peter {
  //background-image: url('../img/peter.jpg');
}
