$mnm-lightblue: #CFEAF4;
$mnm-blue: #1a98cc;
$mnm-darkblue: #12367E;
$mnm-red: #d31822;
$primary: $mnm-darkblue;
//$primary-invert: $pink-invert;

$fa-font-path: "../fonts/vendor/font-awesome" !default;
@import "~font-awesome/scss/font-awesome.scss";

@import "~bulma/bulma";

@import "_gauge";

body {
  //padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  // font-size: 12px;
  background: #FFF url('http://playground.mnm.be/steunstudenten/img/background.png') top center repeat;
}

.scrollable-flex {
  display: flex;
  flex-direction: column;
  //height: 100%;
  flex-grow: 1;
  &--list {
    height: 14.2rem;
    flex: 1 1 auto;
    overflow-y: scroll;
    @include mobile {
      height: 300px;
      height:30vh;
    }
  }
}

.metric-panel {
  background-color: #FFFFFF;
  border: 2px solid $mnm-lightblue;
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .metric-panel__content {
    padding: 0.75em;
  }
}

.fancy-list {
  border-top: 1px solid #dbdbdb;
  text-align: left;
  li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #dbdbdb;
  }
}

.hero,
.section {
  background: none;
}

.footer {
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.image.is-round {
  img {
    border-radius: 100%;
    border: 1px solid lightgray;
  }
}

.m-b-0 {
  margin-bottom: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

h1, h2 {
  font-weight: bold;
}

.title {
  color: $mnm-darkblue;
}

#logo {
  //margin-right: 20px;
  width: 100%;
  max-width: 150px;
}

.sponsor {
  width:100px;
  margin-top: 0.5em;
  opacity: 0.7;
}
